.tablegen_link {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
}
.fcaption2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #FFFFFF;
}
.fcaption2_nt {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
}
.fcaption5 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.6em;
        color: black;
        text-decoration: none;
		background: #FFFFFF;
}
.fcaption5_hele_taust {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.6em;
        color: black;
        text-decoration: none;
		background: #fafafa;
}
.fcaption5_hele {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.6em;
        color: black;
        text-decoration: none;
		background: #f5f5f5;
}
.fcaption {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #EEEEEE;
}
.fcaption3 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #FFFFFF;
}
.fcaption4 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #CCCCCC;
}

.fselected2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #CCCCCC;
}

.fselected3 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #DDDDDD;
}

.fform2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        background: #EEEEEE;
}
.ftitle2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 9pt;
        color: black;
        text-decoration: none;
        background: #E5E8F7;
}
.ftitle3 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 9pt;
        color: black;
        text-decoration: none;
        background: #C5C8F7;
}


.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
	background: #eeeeee;
}
.plain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #FFFFFF;
}
.selected {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.6em;
	background: #FFCCCC;
};
.fcaption {
	font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color:black;
        text-decoration: none;
        background: #EEEEEE;
}
.fcaptionclean {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 10pt;
        color: black;
        text-decoration: none;
}

.fform { 
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color:black;
        background: #FFFFFF;
}
.hele_hall_taust { 
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color:black;
        background: #f5f5f5;
}
.ftitle {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
        font-size: 10pt;
        color:black;
        text-decoration: none;
        background: #66CC66;
}
a {
        text-decoration: none;
        color: #041CB2;
}
a:hover {
        color: #041CB2;
        text-decoration: underline;
}
.header1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background: #EEEEEE;
	text-decoration: none;
}
.header2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background: #EEEEEE;
	text-decoration: none;
}

.cut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #a0a0a0;
}

.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background: #ffffff;
}

.small_sub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background: #e00000;
}

.fgen_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.fgtitle {
BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}
.fgtitle_new {
BACKGROUND: #1c629d; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}
.fgtitle_text {
BACKGROUND: #1c629d; COLOR: #e0e7f0; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}

.fgtitle_button { 
color: #e0e7f0;
background-color: #1c629d; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
font-weight: bold;
}

.fgtitle_link {
 COLOR: #e0e7f0; 
}
.fgtitle_link:hover {
 COLOR: #FFFFFF; 
}

.fgtext {

BACKGROUND: #FFFFFF; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.fgtext_bad {

BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.fgtext_g {

BACKGROUND: #f5f5f5; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.fgtext_bold {

BACKGROUND: #FFFFFF; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.fgtext2 {

BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}


.chkbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #EEEEEE;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.small_button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.pealkiri1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        background: #CCCCCC;
}

.tekstikast
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF; 
	border: #CCCCCC solid; 
	border-width: 1px 1px 1px 1px; 
	margin-left: 0px;
	padding-left: 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}
.doc_button
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #CCCCCC; 
	border: #CCCCCC solid; 
	border-width: 1px 1px 1px 1px; 
}
.tekstikast_n
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F5F5F5; 
	border: #CCCCCC solid; 
	border-width: 0px 0px 0px 0px; 
}
