<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<link rel="stylesheet" href="/automatweb/css/site.css">
<link rel="stylesheet" href="/automatweb/css/fg_menu.css">
<link rel="stylesheet" href="/automatweb/css/bench.css">
<script language="JavaScript">
<!--
function teeaken()  
{
aknake = window.open("graph_def.html", "my_dialog", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=470,height=500");}

function sulge()  
{
aknake = window.close();
}

// -->
</script>

<TITLE> Graafiku vaikimisi seaded</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<TABLE align=center width=100% border=0>
<TR>
	<TD align=center><IMG src="/images/graph_def.gif"></TD>
</TR>
<TR>
	<TD align=center>&nbsp;<a href="javascript:sulge()">Sulge see aken</a></TD>
<TR>
	<TD align=center>
		<table border="1" cellspacing=1>
			<tr>
				<td class="fcaption">Graafiku pealkiri:</td>
				<td class="fcaption">Nimi
				</td>
			<tr>
				<td class="fcaption">Pealkirja v&auml;rv:</td>
				<td class="fcaption">#000000
				</td>
			<tr>
				<td class="fcaption">Tausta v&auml;rv:</td>
				<td class="fcaption">#aabbaa
				</td>
			</tr>
			<tr>
				<td class="fcaption">K&otilde;rgus: </td>
				<td class="fcaption">200
				</td>
			<tr>
				<td class="fcaption">Laius: </td>
				<td class="fcaption">400
				</td>
			</tr>
			<tr>
				<td class="fcaption"> Raami laius: </td>
				<td class="fcaption">2
				</td>
			<tr>
				<td class="fcaption"> Sisemine laius: </td>
				<td class="fcaption">40
				</td>
			</tr>
			<tr>
				<td class="fcaption">Y telje text: </td>
				<td class="fcaption">Arv
				</td>
			<tr>
				<td class="fcaption">Y telje teksti v&auml;rv:</td>
				<td class="fcaption">#FF0000
				</td>
			</tr>
			<tr>
				<td class="fcaption">N‰itan Y teljel max ja min v‰‰rtusi:&nbsp;</td>
				<td class="fcaption">Valitud
				</td>
			<tr>
				<td class="fcaption">X telje text: </td>
				<td class="fcaption">Aeg
				</td>
			<tr>
				<td class="fcaption">X telje teksti v&auml;rv:</td>
				<td class="fcaption">#000000
				</td>
			</tr>
			<tr>
				<td class="fcaption">Y telje &uuml;hikute arv:</td>
				<td class="fcaption">6
				</td>
			<tr>
				<td class="fcaption">Y telje gridi v‰‰rtuste v&auml;rv:</td>
				<td class="fcaption">#0000FF
				</td>
			</tr>
			<tr>
				<td class="fcaption">N&auml;itan gridil v&auml;&auml;rtusi:</td>
				<td class="fcaption">Valitud
				</td>
			</tr>
			<tr>
				<td class="fcaption">Esimese joone v‰rv:</td>
				<td class="fcaption">#00FF00
				</td>
			<tr>
				<td class="fcaption">Teise joone v‰rv:</td>
				<td class="fcaption">#00FFFF
				</td>
			</tr>
		</table>
	</TD>
</TR>
</TABLE>
</HTML>
