<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<link rel="stylesheet" href="{VAR:baseurl}/automatweb/css/aw.css">
<script type="text/javascript">
<!--
function teeaken()  
{
aknake = window.open("graph_def.html", "my_dialog", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=470,height=500");}

function sulge()  
{
aknake = window.close();
}

// -->
</script>

<TITLE> {VAR:LC_GRAPH_DEFAULT_SETTINGS}</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<TABLE align=center width=100% border=0>
<TR>
	<TD align=center><IMG src="/images/graph_def.gif"></TD>
</TR>
<TR>
	<TD align=center>&nbsp;<a href="javascript:sulge()">{VAR:LC_GRAPH_CLOSE_THIS_WINDOW}</a></TD>
<TR>
	<TD align=center>
		<table border="1" cellspacing=1>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_TITLE}:</td>
				<td class="fcaption2">{VAR:LC_GRAPH_NAME}
				</td>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_TITLE_COLOR}:</td>
				<td class="fcaption2">#000000
				</td>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_BACK_COLOR}:</td>
				<td class="fcaption2">#aabbaa
				</td>
			</tr>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_HIGH}: </td>
				<td class="fcaption2">200
				</td>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_WIDTH}: </td>
				<td class="fcaption2">400
				</td>
			</tr>
			<tr>
				<td class="fcaption2"> {VAR:LC_GRAPH_FRAME_BLAA}: </td>
				<td class="fcaption2">2
				</td>
			<tr>
				<td class="fcaption2"> {VAR:LC_GRAPH_INS_BLAA}: </td>
				<td class="fcaption2">40
				</td>
			</tr>
			<tr>
				<td class="fcaption2">Y {VAR:LC_GRAPH_AX_TEXT} : </td>
				<td class="fcaption2">Arv
				</td>
			<tr>
				<td class="fcaption2">Y {VAR:LC_GRAPH_AX_COLOR} :</td>
				<td class="fcaption2">#FF0000
				</td>
			</tr>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_Y_MAXMIN}:&nbsp;</td>
				<td class="fcaption2">{VAR:LC_GRAPH_SELECTED}
				</td>
			<tr>
				<td class="fcaption2">X {VAR:LC_GRAPH_AX_TEXT} : </td>
				<td class="fcaption2">{VAR:}Aeg
				</td>
			<tr>
				<td class="fcaption2">X {VAR:LC_GRAPH_AX_COLOR} :</td>
				<td class="fcaption2">#000000
				</td>
			</tr>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_Y_INCH}:</td>
				<td class="fcaption2">6
				</td>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_Y_GRID_COLOR}:</td>
				<td class="fcaption2">#0000FF
				</td>
			</tr>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_GRID_INCH}:</td>
				<td class="fcaption2">{VAR:LC_GRAPH_SELECTED}
				</td>
			</tr>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_FIRST_LINE_COLOR}:</td>
				<td class="fcaption2">#00FF00
				</td>
			<tr>
				<td class="fcaption2">{VAR:LC_GRAPH_SECOND_LINE_COLOR}:</td>
				<td class="fcaption2">#00FFFF
				</td>
			</tr>
		</table>
	</TD>
</TR>
</TABLE>
</HTML>
