<?xml version='1.0'?>
<properties>
      <property>
            <name>alias</name>
            <table>objects</table>
            <type>textbox</type>
            <group>general</group>
            <field>alias</field>
            <caption>Alias</caption>
      </property>
      <property>
            <name>jrk</name>
            <table>objects</table>
            <type>textbox</type>
            <size>4</size>
            <group>general</group>
            <field>jrk</field>
            <caption>Jrk</caption>
      </property>
      <property>
            <name>target</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>general</group>
            <ch_value>1</ch_value>
            <search>1</search>
            <field>target</field>
            <caption>Uues aknas</caption>
      </property>
      <property>
            <name>users_only</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <caption>Ainult sisselogitud kasutajatele</caption>
      </property>
      <property>
            <name>color</name>
            <table>objects</table>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Men&amp;uuml;&amp;uuml; v&amp;auml;rv</caption>
      </property>
      <property>
            <name>color2</name>
            <table>objects</table>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Menüü värv 2</caption>
      </property>
      <property>
            <name>icon</name>
            <table>objects</table>
            <type>icon</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Ikoon</caption>
      </property>
      <property>
            <name>sel_icon</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_ICON</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Vali ikoon</caption>
      </property>
      <property>
            <name>sort_by_name</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>show</group>
            <ch_value>1</ch_value>
            <caption>Sorteeri nime järgi</caption>
      </property>
      <property>
            <name>aip_filename</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Failinimi</caption>
      </property>
      <property>
            <name>periodic</name>
            <table>objects</table>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <field>periodic</field>
            <caption>Perioodiline</caption>
      </property>
      <property>
            <name>objtbl_conf</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_OBJ_TABLE_CONF</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Objektitabeli konf</caption>
      </property>
      <property>
            <name>add_tree_conf</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_ADD_TREE_CONF</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Objekti lisamise puu konff</caption>
      </property>
      <property>
            <name>cfgmanager</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_CFGFORM</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Konfiguratsioonivorm</caption>
      </property>
      <property>
            <name>show_lead</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <caption>Näita ainult leadi</caption>
      </property>
      <property>
            <name>show_lead_template</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Leadi template</caption>
      </property>
      <property>
            <name>get_content_from</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_CONTENT_FROM</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Sisu objektist</caption>
      </property>
      <property>
            <name>grkeywords</name>
            <table>objects</table>
            <type>select</type>
            <size>10</size>
            <multiple>1</multiple>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <caption>AW Märksõnad</caption>
      </property>
      <property>
            <name>keywords</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <caption>META keywords</caption>
      </property>
      <property>
            <name>description</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <caption>META description</caption>
      </property>
      <property>
            <name>sections</name>
            <table>objects</table>
            <type>table</type>
            <store>no</store>
            <group>brothers</group>
            <field>sections</field>
            <caption>Vennad</caption>
      </property>
      <property>
            <name>images_from_menu</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_PICTURES_MENU</reltype>
            <group>presentation</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>V&amp;otilde;ta pildid men&amp;uuml;&amp;uuml; alt</caption>
      </property>
      <property>
            <name>img_timing</name>
            <table>objects</table>
            <type>textbox</type>
            <size>3</size>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <caption>Viivitus piltide vahel (sek.)</caption>
      </property>
      <property>
            <name>imgrelmanager</name>
            <table>objects</table>
            <type>relmanager</type>
            <reltype>RELTYPE_IMAGE</reltype>
            <store>no</store>
            <group>presentation</group>
            <field>imgrelmanager</field>
            <caption>Vali pilte</caption>
      </property>
      <property>
            <name>img_act</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_IMAGE</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <caption>Aktiivse menüü pilt</caption>
      </property>
      <property>
            <name>menu_images</name>
            <table>objects</table>
            <type>table</type>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <store>no</store>
            <caption>Menüü pildid</caption>
      </property>
      <property>
            <name>sss</name>
            <table>menu</table>
            <type>table</type>
            <store>no</store>
            <group>docs_from</group>
            <field>sss</field>
            <caption>Menüüd, mille alt viimased dokumendid võetakse</caption>
      </property>
      <property>
            <name>pers</name>
            <table>objects</table>
            <type>relpicker</type>
            <multiple>1</multiple>
            <size>5</size>
            <field>meta</field>
            <method>serialize</method>
            <group>docs_from</group>
            <reltype>RELTYPE_PERIOD</reltype>
            <caption>Perioodid, mille alt dokumendid võetakse</caption>
      </property>
      <property>
            <name>all_pers</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <group>docs_from</group>
            <caption>K&amp;otilde;ikide perioodide alt</caption>
      </property>
      <property>
            <name>docs_per_period</name>
            <table>objects</table>
            <type>textbox</type>
            <size>3</size>
            <group>docs_from</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Dokumente perioodist</caption>
      </property>
      <property>
            <name>sa_manager</name>
            <table>menu</table>
            <type>relmanager</type>
            <reltype>RELTYPE_SEEALSO</reltype>
            <group>relations</group>
            <store>no</store>
            <field>sa_manager</field>
            <caption>Seosehaldur</caption>
      </property>
      <property>
            <name>seealso</name>
            <table>menu</table>
            <type>table</type>
            <group>relations</group>
            <store>no</store>
            <field>seealso</field>
            <caption>
            <![CDATA[Menüüd, mille all see menüü on "vaata lisaks" menüü]]>
            </caption>
            <comment>Nende menüüde lisamine ja eemaldamine käib läbi seostehalduri</comment>
      </property>
      <property>
            <name>seealso_order</name>
            <table>objects</table>
            <type>textbox</type>
            <group>relations</group>
            <size>3</size>
            <field>meta</field>
            <method>serialize</method>
            <caption>Järjekorranumber (vaata lisaks)</caption>
      </property>
      <property>
            <name>link</name>
            <table>menu</table>
            <type>textbox</type>
            <group>show</group>
            <field>link</field>
            <caption>Menüü link</caption>
      </property>
      <property>
            <name>type</name>
            <table>menu</table>
            <type>select</type>
            <group>general</group>
            <field>type</field>
            <caption>Menüü tüüp</caption>
      </property>
      <property>
            <name>admin_feature</name>
            <table>menu</table>
            <type>select</type>
            <group>general</group>
            <field>admin_feature</field>
            <caption>Vali programm</caption>
      </property>
      <property>
            <name>pmethod_properties</name>
            <table>menu</table>
            <type>callback</type>
            <callback>callback_get_pmethod_options</callback>
            <group>general</group>
            <store>no</store>
            <field>pmethod_properties</field>
            <caption>Avaliku meetodi seaded</caption>
      </property>
      <property>
            <name>clickable</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <default>1</default>
            <field>clickable</field>
            <caption>Klikitav</caption>
      </property>
      <property>
            <name>no_export</name>
            <table>objects</table>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <caption>&amp;Auml;ra n&amp;auml;ita ekspordis</caption>
      </property>
      <property>
            <name>no_menus</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <field>no_menus</field>
            <caption>Ilma menüüdeta</caption>
      </property>
      <property>
            <name>mid</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <field>mid</field>
            <caption>Paremal</caption>
      </property>
      <property>
            <name>width</name>
            <table>menu</table>
            <type>textbox</type>
            <size>5</size>
            <group>advanced</group>
            <field>width</field>
            <caption>Laius</caption>
      </property>
      <property>
            <name>submenus_from_obj</name>
            <table>menu</table>
            <type>relpicker</type>
            <reltype>RELTYPE_SUBMENUS</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Alammen&amp;uuml;&amp;uuml;d objektist</caption>
      </property>
      <property>
            <name>submenus_from_menu</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_SHOW_SUBFOLDERS_MENU</reltype>
            <group>advanced</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>V&amp;otilde;ta alammen&amp;uuml;&amp;uuml;d men&amp;uuml;&amp;uuml; alt</caption>
      </property>
      <property>
            <name>show_layout</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_SHOW_AS_LAYOUT</reltype>
            <group>advanced</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Kasuta n&amp;auml;itamiseks layouti</caption>
      </property>
      <property>
            <name>show_object_tree</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_OBJ_TREE</reltype>
            <group>advanced</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Kasuta alammen&amp;uuml;&amp;uuml;de n&amp;auml;itamiseks objektide nimekirja</caption>
      </property>
      <property>
            <name>panes</name>
            <table>menu</table>
            <group>show</group>
            <type>chooser</type>
            <store>no</store>
            <multiple>1</multiple>
            <field>panes</field>
            <caption>Paanid</caption>
      </property>
      <property>
            <name>left_pane</name>
            <table>menu</table>
            <group>show</group>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <default>1</default>
            <field>left_pane</field>
            <caption>Vasak paan</caption>
      </property>
      <property>
            <name>right_pane</name>
            <table>menu</table>
            <group>show</group>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <default>1</default>
            <field>right_pane</field>
            <caption>Parem paan</caption>
      </property>
      <property>
            <name>tpl_dir</name>
            <table>objects</table>
            <group>show</group>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <caption>Template set </caption>
      </property>
      <property>
            <name>tpl_view</name>
            <table>menu</table>
            <group>show</group>
            <type>select</type>
            <field>tpl_view</field>
            <caption>Template dokumendi näitamiseks (pikk)</caption>
      </property>
      <property>
            <name>tpl_lead</name>
            <table>menu</table>
            <group>show</group>
            <type>select</type>
            <field>tpl_lead</field>
            <caption>Template dokumendi näitamiseks (lühike)</caption>
      </property>
      <property>
            <name>hide_noact</name>
            <table>menu</table>
            <group>show</group>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>hide_noact</field>
            <caption>Peida ära, kui dokumente pole</caption>
      </property>
      <property>
            <name>ndocs</name>
            <table>menu</table>
            <group>docs_from</group>
            <type>textbox</type>
            <size>3</size>
            <field>ndocs</field>
            <caption>Mitu viimast dokumenti</caption>
      </property>
      <property>
            <name>show_periods</name>
            <table>objects</table>
            <group>show</group>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <caption>Näita perioode</caption>
      </property>
      <property>
            <name>show_period_count</name>
            <table>objects</table>
            <group>show</group>
            <type>textbox</type>
            <size>4</size>
            <field>meta</field>
            <method>serialize</method>
            <caption>Mitu viimast perioodi</caption>
      </property>
      <property>
            <name>export</name>
            <table>menu</table>
            <group>import_export</group>
            <type>callback</type>
            <callback>callback_get_export_options</callback>
            <store>no</store>
            <field>export</field>
            <caption>Eksport</caption>
      </property>
      <property>
            <name>sorter</name>
            <table>menu</table>
            <group>show</group>
            <type>table</type>
            <store>no</store>
            <field>sorter</field>
            <caption>Dokumentide järjestamine</caption>
      </property>
      <property>
            <name>ip</name>
            <table>menu</table>
            <group>ip</group>
            <type>table</type>
            <store>no</store>
            <no_caption>1</no_caption>
            <field>ip</field>
      </property>
      <property>
            <name>frontpage</name>
            <table>objects</table>
            <group>advanced</group>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <ch_value>1</ch_value>
            <caption>Esilehel</caption>
      </property>
      <property>
            <name>seealso_docs_t</name>
            <table>menu</table>
            <group>seealso_docs</group>
            <type>table</type>
            <no_caption>1</no_caption>
            <store>no</store>
            <field>seealso_docs_t</field>
            <caption>Vaatalisaks dokumendid</caption>
      </property>
      <property>
            <name>has_ctx</name>
            <table>objects</table>
            <group>advanced_ctx</group>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <caption>Kuva alamkaustu kontekstip&amp;otilde;hiselt</caption>
      </property>
      <property>
            <name>ctx</name>
            <table>menu</table>
            <group>advanced_ctx</group>
            <type>releditor</type>
            <reltype>RELTYPE_CTX</reltype>
            <field>meta</field>
            <method>serialize</method>
            <mode>manager</mode>
            <props>
                  <num_0>name</num_0>
                  <num_1>status</num_1>
            </props>
            <table_fields>
                  <num_0>name</num_0>
                  <num_1>status</num_1>
            </table_fields>
            <table_edit_fields>
                  <num_0>name</num_0>
                  <num_1>status</num_1>
            </table_edit_fields>
            <store>no</store>
            <caption>Kontekstid</caption>
      </property>
      <classinfo>
            <trans>1</trans>
            <relationmgr>yes</relationmgr>
            <objtable>menu</objtable>
            <objtable_index>id</objtable_index>
            <syslog_type>ST_MENU</syslog_type>
      </classinfo>
      <groupinfo>
            <advanced_p>
                  <caption>Spetsiaal</caption>
            </advanced_p>
            <advanced>
                  <caption>Spetsiaal</caption>
                  <parent>advanced_p</parent>
            </advanced>
            <advanced_ctx>
                  <caption>Kontekst</caption>
                  <parent>advanced_p</parent>
            </advanced_ctx>
            <keywords>
                  <caption>Võtmesõnad</caption>
            </keywords>
            <menus>
                  <caption>Kaustad</caption>
            </menus>
            <relations>
                  <caption>Vaata lisaks</caption>
                  <parent>menus</parent>
            </relations>
            <brothers>
                  <caption>Vennastamine</caption>
                  <parent>menus</parent>
            </brothers>
            <docs_from>
                  <caption>Sisu asukoht</caption>
                  <parent>menus</parent>
            </docs_from>
            <seealso_docs>
                  <caption>Vaata lisaks dokumendid</caption>
                  <parent>menus</parent>
            </seealso_docs>
            <presentation>
                  <caption>Pildid</caption>
            </presentation>
            <show>
                  <caption>Näitamine</caption>
            </show>
            <import_export>
                  <caption>Eksport</caption>
                  <submit>no</submit>
            </import_export>
            <ip>
                  <caption>IP Aadressid</caption>
            </ip>
      </groupinfo>
      <tableinfo>
            <menu>
                  <index>id</index>
                  <master_table>objects</master_table>
                  <master_index>oid</master_index>
            </menu>
      </tableinfo>
      <reltypes>
            <PICTURES_MENU>
                  <value>1</value>
                  <clid>CL_MENU</clid>
                  <caption>võta pildid menüült</caption>
            </PICTURES_MENU>
            <SHOW_SUBFOLDERS_MENU>
                  <value>2</value>
                  <clid>CL_MENU</clid>
                  <caption>võta alamkasutad menüült</caption>
            </SHOW_SUBFOLDERS_MENU>
            <SHOW_AS_CALENDAR>
                  <value>3</value>
                  <clid>CL_PLANNER</clid>
                  <caption>võta objekte kalendrist</caption>
            </SHOW_AS_CALENDAR>
            <SHOW_AS_LAYOUT>
                  <value>4</value>
                  <clid>CL_LAYOUT</clid>
                  <caption>kasuta saidi näitamisel layouti</caption>
            </SHOW_AS_LAYOUT>
            <SEEALSO>
                  <value>5</value>
                  <clid>CL_MENU</clid>
                  <caption>vaata lisaks</caption>
            </SEEALSO>
            <IP>
                  <value>6</value>
                  <clid>CL_IPADDRESS</clid>
                  <caption>IP aadress ligipääsu piiramiseks</caption>
            </IP>
            <ACL_GROUP>
                  <value>7</value>
                  <clid>CL_GROUP</clid>
                  <caption>Kasutajagrupp</caption>
            </ACL_GROUP>
            <OBJ_TREE>
                  <value>8</value>
                  <clid>
                        <num_0>CL_OBJECT_TREE</num_0>
                        <num_1>CL_OBJECT_TREEVIEW_V2</num_1>
                  </clid>
                  <caption>objektide nimekiri</caption>
            </OBJ_TREE>
            <DOCS_FROM_MENU>
                  <value>9</value>
                  <clid>CL_MENU</clid>
                  <caption>v&amp;otilde;ta dokumente men&amp;uuml;&amp;uuml; alt</caption>
            </DOCS_FROM_MENU>
            <PERIOD>
                  <value>10</value>
                  <clid>CL_PERIOD</clid>
                  <caption>v&amp;otilde;ta dokumente perioodi alt</caption>
            </PERIOD>
            <OBJ_TABLE_CONF>
                  <value>11</value>
                  <clid>CL_OBJ_TABLE_CONF</clid>
                  <caption>objektitabeli konfiguratsioon</caption>
            </OBJ_TABLE_CONF>
            <ADD_TREE_CONF>
                  <value>12</value>
                  <clid>CL_ADD_TREE_CONF</clid>
                  <caption>lisamise puu konfiguratsioon</caption>
            </ADD_TREE_CONF>
            <CFGFORM>
                  <value>13</value>
                  <clid>CL_CFGFORM</clid>
                  <caption>konfiguratsioonivorm</caption>
            </CFGFORM>
            <IMAGE>
                  <value>14</value>
                  <clid>CL_IMAGE</clid>
                  <caption>pilt</caption>
            </IMAGE>
            <SUBMENUS>
                  <value>16</value>
                  <clid>
                        <num_0>CL_SHOP_ORDER_CENTER</num_0>
                        <num_1>CL_CRM_SECTION</num_1>
                        <num_2>CL_OBJECT_TREEVIEW_V2</num_2>
                        <num_3>CL_ABSTRACT_DATASOURCE</num_3>
                  </clid>
                  <caption>alammen&amp;uuml;&amp;uuml;d objektist</caption>
            </SUBMENUS>
            <CONTENT_FROM>
                  <value>17</value>
                  <clid>CL_PROJECT</clid>
                  <caption>Sisu objektist</caption>
            </CONTENT_FROM>
            <SEEALSO_DOC>
                  <value>18</value>
                  <clid>CL_DOCUMENT</clid>
                  <caption>vaata lisaks dokument</caption>
            </SEEALSO_DOC>
            <ICON>
                  <value>19</value>
                  <clid>CL_IMAGE</clid>
                  <caption>ikoon</caption>
            </ICON>
            <TIMING>
                  <value>20</value>
                  <clid>CL_TIMING</clid>
                  <caption>Aeg</caption>
            </TIMING>
            <CTX>
                  <value>21</value>
                  <clid>CL_FOLDER_CONTEXT</clid>
                  <caption>Kontekst</caption>
            </CTX>
      </reltypes>
</properties>

