<?xml version='1.0'?>
<properties>
      <property>
            <name>users_only</name>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Ainult sisselogitud kasutajatele</caption>
      </property>
      <property>
            <name>color</name>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Menüü värv</caption>
      </property>
      <property>
            <name>icon</name>
            <type>icon</type>
            <field>icon</field>
            <group>advanced</group>
            <table>objects</table>
            <caption>Ikoon</caption>
      </property>
      <property>
            <name>sort_by_name</name>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Sorteeri nime järgi</caption>
      </property>
      <property>
            <name>aip_filename</name>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Failinimi</caption>
      </property>
      <property>
            <name>objtbl_conf</name>
            <type>objpicker</type>
            <clid>CL_OBJ_TABLE_CONF</clid>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Objektitabeli konff</caption>
      </property>
      <property>
            <name>add_tree_conf</name>
            <type>objpicker</type>
            <clid>CL_ADD_TREE_CONF</clid>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Objekti lisamise puu konff</caption>
      </property>
      <property>
            <name>cfgmanager</name>
            <type>objpicker</type>
            <clid>CL_CFGMANAGER</clid>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Konfiguratsioonihaldur</caption>
      </property>
      <property>
            <name>show_lead</name>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Näita ainult leadi (kasutusel Nädalas)</caption>
      </property>
      <property>
            <name>grkeywords</name>
            <type>select</type>
            <size>10</size>
            <multiple>1</multiple>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <table>objects</table>
            <caption>AW Märksõnad</caption>
      </property>
      <property>
            <name>keywords</name>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <table>objects</table>
            <caption>META keywords</caption>
      </property>
      <property>
            <name>description</name>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <table>objects</table>
            <caption>META description</caption>
      </property>
      <property>
            <name>sections</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>20</size>
            <group>relations</group>
            <table>objects</table>
            <caption>Vennastamine</caption>
      </property>
      <property>
            <name>img_timing</name>
            <type>textbox</type>
            <size>3</size>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <table>objects</table>
            <caption>Viivitus piltide vahel (sek.)</caption>
      </property>
      <property>
            <name>img_act</name>
            <type>imgupload</type>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <table>objects</table>
            <caption>Aktiivse menüü pilt</caption>
      </property>
      <property>
            <name>menu_images</name>
            <type>generated</type>
            <field>meta</field>
            <method>serialize</method>
            <generator>callback_get_menu_image</generator>
            <group>presentation</group>
            <table>objects</table>
            <caption>Menüü pildid</caption>
      </property>
      <property>
            <name>sss</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>15</size>
            <method>serialize</method>
            <group>relations</group>
            <table>menu</table>
            <caption>Menüüd, mille alt viimased dokumendid võetakse</caption>
      </property>
      <property>
            <name>pers</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>15</size>
            <method>serialize</method>
            <group>relations</group>
            <table>menu</table>
            <caption>Perioodid, mille alt dokumendid võetakse</caption>
      </property>
      <property>
            <name>seealso</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>15</size>
            <group>relations</group>
            <table>menu</table>
            <caption>
            <![CDATA[Vali menüüd, mille all see menüü on "vaata lisaks" menüü]]>
            </caption>
      </property>
      <property>
            <name>seealso_refs</name>
            <type>hidden</type>
            <method>serialize</method>
            <field>meta</field>
            <table>objects</table>
            <group>relations</group>
      </property>
      <property>
            <name>seealso_order</name>
            <type>textbox</type>
            <group>relations</group>
            <size>3</size>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <caption>Järjekorranumber (vaata lisaks)</caption>
      </property>
      <property>
            <name>link</name>
            <type>textbox</type>
            <group>show</group>
            <table>menu</table>
            <caption>Menüü link</caption>
      </property>
      <property>
            <name>type</name>
            <type>select</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Menüü tüüp</caption>
      </property>
      <property>
            <name>admin_feature</name>
            <type>select</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Vali programm</caption>
      </property>
      <property>
            <name>pclass</name>
            <type>select</type>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Vali meetod</caption>
      </property>
      <property>
            <name>pm_url_admin</name>
            <type>checkbox</type>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Meetod viitab adminni</caption>
      </property>
      <property>
            <name>pm_url_menus</name>
            <type>checkbox</type>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Meetodi väljundi kuvamisel menüüde näitamine</caption>
      </property>
      <property>
            <name>clickable</name>
            <type>checkbox</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Klikitav</caption>
      </property>
      <property>
            <name>no_menus</name>
            <type>checkbox</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Ilma menüüdeta</caption>
      </property>
      <property>
            <name>target</name>
            <type>checkbox</type>
            <group>general</group>
            <table>menu</table>
            <caption>Uues aknas</caption>
      </property>
      <property>
            <name>mid</name>
            <type>checkbox</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Paremal</caption>
      </property>
      <property>
            <name>width</name>
            <type>textbox</type>
            <size>5</size>
            <group>advanced</group>
            <table>menu</table>
            <caption>Laius</caption>
      </property>
      <property>
            <name>is_shop</name>
            <type>checkbox</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Pood</caption>
      </property>
      <property>
            <name>shop_parallel</name>
            <type>checkbox</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Kaubad sbs (pood)</caption>
      </property>
      <property>
            <name>shop_ignoregoto</name>
            <type>checkbox</type>
            <group>advanced</group>
            <table>menu</table>
            <caption>Ignoreeri järgmist (pood)</caption>
      </property>
      <property>
            <name>left_pane</name>
            <type>checkbox</type>
            <table>menu</table>
            <group>show</group>
            <caption>Vasak paan</caption>
      </property>
      <property>
            <name>right_pane</name>
            <type>checkbox</type>
            <table>menu</table>
            <group>show</group>
            <caption>Parem paan</caption>
      </property>
      <property>
            <name>tpl_dir</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>show</group>
            <caption>Template set </caption>
      </property>
      <property>
            <name>tpl_edit</name>
            <type>select</type>
            <table>menu</table>
            <group>show</group>
            <caption>Template dokumendi muutmiseks</caption>
      </property>
      <property>
            <name>tpl_view</name>
            <type>select</type>
            <table>menu</table>
            <group>show</group>
            <caption>Template dokumendi näitamiseks (pikk)</caption>
      </property>
      <property>
            <name>tpl_lead</name>
            <type>select</type>
            <table>menu</table>
            <group>show</group>
            <caption>Template dokumendi näitamiseks (lühike)</caption>
      </property>
      <property>
            <name>tpl_edit_cfgform</name>
            <type>cfgform_picker</type>
            <clid>CL_DOCUMENT</clid>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>show</group>
            <caption>Konfivorm/template dokumendi muutmiseks</caption>
      </property>
      <property>
            <name>hide_noact</name>
            <type>checkbox</type>
            <table>menu</table>
            <group>show</group>
            <caption>Peida ära, kui dokumente pole</caption>
      </property>
      <property>
            <name>ndocs</name>
            <type>textbox</type>
            <size>3</size>
            <table>menu</table>
            <group>show</group>
            <caption>Mitu viimast dokumenti</caption>
      </property>
      <classinfo>
            <relationmgr>yes</relationmgr>
            <objtable>menu</objtable>
            <objtable_index>id</objtable_index>
            <corefields>name,comment,alias,status,jrk</corefields>
      </classinfo>
</properties>

