<?xml version='1.0'?>
<properties>
      <property>
            <name>users_only</name>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>objects</table>
            <caption>Ainult sisselogitud kasutajatele</caption>
      </property>
      <property>
            <name>color</name>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Menüü värv</caption>
      </property>
      <property>
            <name>color2</name>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Menüü värv 2</caption>
      </property>
      <property>
            <name>icon</name>
            <type>icon</type>
            <field>meta</field>
            <group>advanced</group>
            <table>objects</table>
            <caption>Ikoon</caption>
      </property>
      <property>
            <name>sort_by_name</name>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>objects</table>
            <caption>Sorteeri nime järgi</caption>
      </property>
      <property>
            <name>aip_filename</name>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Failinimi</caption>
      </property>
      <property>
            <name>periodic</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>objects</table>
            <field>periodic</field>
            <caption>Perioodiline</caption>
      </property>
      <property>
            <name>objtbl_conf</name>
            <type>objpicker</type>
            <clid>CL_OBJ_TABLE_CONF</clid>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Objektitabeli konf</caption>
      </property>
      <property>
            <name>add_tree_conf</name>
            <type>objpicker</type>
            <clid>CL_ADD_TREE_CONF</clid>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Objekti lisamise puu konff</caption>
      </property>
      <property>
            <name>cfgmanager</name>
            <type>objpicker</type>
            <clid>CL_CFGFORM</clid>
            <subclass>CL_PSEUDO</subclass>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <table>objects</table>
            <caption>Konfiguratsioonivorm</caption>
      </property>
      <property>
            <name>show_lead</name>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>objects</table>
            <caption>Näita ainult leadi (kasutusel Nädalas)</caption>
      </property>
      <property>
            <name>grkeywords</name>
            <type>select</type>
            <size>10</size>
            <multiple>1</multiple>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <table>objects</table>
            <caption>AW Märksõnad</caption>
      </property>
      <property>
            <name>keywords</name>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <table>objects</table>
            <caption>META keywords</caption>
      </property>
      <property>
            <name>description</name>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <table>objects</table>
            <caption>META description</caption>
      </property>
      <property>
            <name>sections</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>20</size>
            <field>meta</field>
            <method>serialize</method>
            <group>relations</group>
            <table>objects</table>
            <caption>Vennastamine</caption>
      </property>
      <property>
            <name>img_timing</name>
            <type>textbox</type>
            <size>3</size>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <table>objects</table>
            <caption>Viivitus piltide vahel (sek.)</caption>
      </property>
      <property>
            <name>img_act</name>
            <type>imgupload</type>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <table>objects</table>
            <caption>Aktiivse menüü pilt</caption>
      </property>
      <property>
            <name>menu_images</name>
            <type>generated</type>
            <field>meta</field>
            <method>serialize</method>
            <callback>callback_get_menu_image</callback>
            <group>presentation</group>
            <table>objects</table>
            <caption>Menüü pildid</caption>
      </property>
      <property>
            <name>sss</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>15</size>
            <method>serialize</method>
            <group>relations</group>
            <table>menu</table>
            <field>sss</field>
            <caption>Menüüd, mille alt viimased dokumendid võetakse</caption>
      </property>
      <property>
            <name>pers</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>15</size>
            <method>serialize</method>
            <group>relations</group>
            <table>menu</table>
            <field>pers</field>
            <caption>Perioodid, mille alt dokumendid võetakse</caption>
      </property>
      <property>
            <name>seealso</name>
            <type>select</type>
            <multiple>1</multiple>
            <size>15</size>
            <group>relations</group>
            <table>menu</table>
            <field>seealso</field>
            <caption>
            <![CDATA[Vali menüüd, mille all see menüü on "vaata lisaks" menüü]]>
            </caption>
      </property>
      <property>
            <name>seealso_refs</name>
            <type>hidden</type>
            <method>serialize</method>
            <field>meta</field>
            <table>objects</table>
            <group>relations</group>
      </property>
      <property>
            <name>seealso_order</name>
            <type>textbox</type>
            <group>relations</group>
            <size>3</size>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <caption>Järjekorranumber (vaata lisaks)</caption>
      </property>
      <property>
            <name>link</name>
            <type>textbox</type>
            <group>show</group>
            <table>menu</table>
            <field>link</field>
            <caption>Menüü link</caption>
      </property>
      <property>
            <name>type</name>
            <type>select</type>
            <group>general</group>
            <table>menu</table>
            <field>type</field>
            <caption>Menüü tüüp</caption>
      </property>
      <property>
            <name>admin_feature</name>
            <type>select</type>
            <group>advanced</group>
            <table>menu</table>
            <field>admin_feature</field>
            <caption>Vali programm</caption>
      </property>
      <property>
            <name>pclass</name>
            <type>select</type>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <caption>Vali meetod</caption>
      </property>
      <property>
            <name>pm_url_admin</name>
            <type>checkbox</type>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <caption>Meetod viitab adminni</caption>
      </property>
      <property>
            <name>pm_url_menus</name>
            <type>checkbox</type>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <caption>Meetodi väljundi kuvamisel menüüde näitamine</caption>
      </property>
      <property>
            <name>clickable</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>clickable</field>
            <caption>Klikitav</caption>
      </property>
      <property>
            <name>no_menus</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>no_menus</field>
            <caption>Ilma menüüdeta</caption>
      </property>
      <property>
            <name>target</name>
            <type>checkbox</type>
            <group>general</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>target</field>
            <caption>Uues aknas</caption>
      </property>
      <property>
            <name>mid</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>mid</field>
            <caption>Paremal</caption>
      </property>
      <property>
            <name>width</name>
            <type>textbox</type>
            <size>5</size>
            <group>advanced</group>
            <table>menu</table>
            <field>width</field>
            <caption>Laius</caption>
      </property>
      <property>
            <name>is_shop</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>is_shop</field>
            <caption>Pood</caption>
      </property>
      <property>
            <name>shop_parallel</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>shop_parallel</field>
            <caption>Kaubad sbs (pood)</caption>
      </property>
      <property>
            <name>shop_ignoregoto</name>
            <type>checkbox</type>
            <group>advanced</group>
            <ch_value>1</ch_value>
            <table>menu</table>
            <field>shop_ignoregoto</field>
            <caption>Ignoreeri järgmist (pood)</caption>
      </property>
      <property>
            <name>left_pane</name>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <table>menu</table>
            <group>show</group>
            <field>left_pane</field>
            <caption>Vasak paan</caption>
      </property>
      <property>
            <name>right_pane</name>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <table>menu</table>
            <group>show</group>
            <field>right_pane</field>
            <caption>Parem paan</caption>
      </property>
      <property>
            <name>tpl_dir</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>show</group>
            <caption>Template set </caption>
      </property>
      <property>
            <name>tpl_edit</name>
            <type>select</type>
            <table>menu</table>
            <group>show</group>
            <field>tpl_edit</field>
            <caption>Template dokumendi muutmiseks</caption>
      </property>
      <property>
            <name>tpl_view</name>
            <type>select</type>
            <table>menu</table>
            <group>show</group>
            <field>tpl_view</field>
            <caption>Template dokumendi näitamiseks (pikk)</caption>
      </property>
      <property>
            <name>tpl_lead</name>
            <type>select</type>
            <table>menu</table>
            <group>show</group>
            <field>tpl_lead</field>
            <caption>Template dokumendi näitamiseks (lühike)</caption>
      </property>
      <property>
            <name>tpl_edit_cfgform</name>
            <type>cfgform_picker</type>
            <clid>CL_DOCUMENT</clid>
            <table>objects</table>
            <field>meta</field>
            <method>serialize</method>
            <group>show</group>
            <caption>Konfivorm/template dokumendi muutmiseks</caption>
      </property>
      <property>
            <name>hide_noact</name>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <table>menu</table>
            <group>show</group>
            <field>hide_noact</field>
            <caption>Peida ära, kui dokumente pole</caption>
      </property>
      <property>
            <name>ndocs</name>
            <type>textbox</type>
            <size>3</size>
            <table>menu</table>
            <group>show</group>
            <field>ndocs</field>
            <caption>Mitu viimast dokumenti</caption>
      </property>
      <classinfo>
            <relationmgr>yes</relationmgr>
            <objtable>menu</objtable>
            <objtable_index>id</objtable_index>
            <corefields>name,comment,alias,status,jrk</corefields>
      </classinfo>
      <groupinfo>
            <general>
                  <caption>Üldine</caption>
                  <default>1</default>
            </general>
            <advanced>
                  <caption>Spetsiaal</caption>
            </advanced>
            <keywords>
                  <caption>Võtmesõnad</caption>
            </keywords>
            <relations>
                  <caption>Seosed</caption>
            </relations>
            <presentation>
                  <caption>Presentatsioon</caption>
            </presentation>
            <show>
                  <caption>Näitamine</caption>
            </show>
      </groupinfo>
      <tableinfo>
            <menu>
                  <index>id</index>
                  <master_table>objects</master_table>
                  <master_index>oid</master_index>
            </menu>
      </tableinfo>
</properties>

