HR {color:#BCE67F}

.menuheader {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
font-weight: normal;
color: #000000;
text-decoration: none;
height: 25px;
text-align: right;
background-color: #BCE67F;
}

.menuheader a {color: #3C9917; font-weight: bold; text-decoration:none;}
.menuheader a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}


.menufooter {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
font-weight: normal;
color: #000000;
text-decoration: none;
height: 25px;
text-align: right;
}

.menufooter a {color: #3C9917; font-weight: bold; text-decoration:none;}
.menufooter a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}


.menuleftl1 {
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #000000;
text-decoration: none;
height: 25px;
background-color: #BCE67F;
}

.menuleftl1 a {color: #3C9917; font-weight: bold; text-decoration:none;}
.menuleftl1 a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}

.menuleftl1sel {
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
font-weight: normal;
color: #000000;
text-decoration: none;
height: 25px;
background-color: #EBF7D8;
}

.menuleftl1sel a {color: #3C9917; font-weight: bold; text-decoration:none;}
.menuleftl1sel a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}



.menuleftl2 {
font-family: Verdana, Arial, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000000;
text-decoration: none;
background-color: #EBF7D8;
}

.menuleftl2 a {color: #3C9917; font-weight: normal; text-decoration:none;}
.menuleftl2 a:hover {color: #3C9917; font-weight: normal; text-decoration:underline;}

.menuleftl2sel {
font-family: Verdana, Arial, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000000;
text-decoration: none;
background-color: #EBF7D8;
}

.menuleftl2sel a {color: #3C9917; font-weight: bold; text-decoration:none;}
.menuleftl2sel a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}



.menuleftl3 {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
font-weight: normal;
color: #000000;
text-decoration: none;
background-color: #EBF7D8;
}

.menuleftl3 a {color: #3C9917; font-weight: normal; text-decoration:none;}
.menuleftl3 a:hover {color: #3C9917; font-weight: normal; text-decoration:underline;}

.menuleftl3sel {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
font-weight: normal;
color: #000000;
text-decoration: none;
background-color: #EBF7D8;
}

.menuleftl3sel a {color: #3C9917; font-weight: bold; text-decoration:none;}
.menuleftl3sel a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}







.logo {
font-family: Arial, sans-serif;
font-size: 24px;
font-weight: normal;
color: #FF0000;
height: 50px;
text-decoration: none;
}

.yah {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
font-weight: normal;
color: #000000;
text-decoration: none;
height: 25px;
text-align: left;
background-color: #EBF7D8;
padding-left: 13px;
padding-right: 13px;
}
.yah a {color: #3C9917; font-weight: bold; text-decoration:none;}
.yah a:hover {color: #3C9917; font-weight: bold; text-decoration:underline;}



.textpealkiri {
font-family: Arial, sans-serif;
font-size: 18px;
line-height: 20px;
color: #FF0000;
text-decoration: none;
}
.textpealkiri a {color: #FF0000; text-decoration:underline;}
.textpealkiri a:hover {color: #FF0000; text-decoration:underline;}

.text {
font-family: Arial, sans-serif;
font-size: 12px;
color: #000000;
line-height: 16px;
text-decoration: none;
}
.text a {color: #3C9917; text-decoration:underline;}
.text a:hover {color: #000000; text-decoration:underline;}


.textsmall {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
color: #000000;
text-decoration: none;
}
.textsmall a {color: #3C9917; text-decoration:underline;}
.textsmall a:hover {color: #000000; text-decoration:underline;}


.boxtitle {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
color: #000000;
height: 25px;
font-weight: bold;
text-decoration: none;
background-color:#BCE67F;
}
.boxtitle a {color: #3C9917; text-decoration:underline;}
.boxtitle a:hover {color: #000000; text-decoration:underline;}


.boxcontent {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
color: #000000;
text-decoration: none;
background-color:#EBF7D8;
}
.boxcontent a {color: #3C9917; text-decoration:underline;}
.boxcontent a:hover {color: #000000; text-decoration:underline;}


