#aw06contenttable{
	border: solid #CC33CC 1px;
}
#aw06contenttable tr td {
	border: #CC33CC solid 1px;
}
#error {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	font-weight: bold;
	text-align: center;
	padding: 7px;
	border: solid 3px #CC0000;
	text-transform: uppercase;
	background-color: #FFFFFF;
}
#error_msg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}
#linecaption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: right;
	font-size: 11px;
	color: #000000;
	padding-right: 5px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #e1e1e1;
}
#lineelment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 7px;
}
#header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
}
#subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	background-color: #d6d6d6;
}
#sitecontent{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#buttons {
	padding: 5px;
}
#button {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #05a6e9;
	border-bottom: #0373ac solid 1px;
	border-right: #0373ac solid 1px;
	border-left: #ffffff solid 1px;
	border-top: #ffffff solid 1px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.sbtbutton {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #05a6e9;
	border-bottom: #0373ac solid 1px;
	border-right: #0373ac solid 1px;
	border-left: #ffffff solid 1px;
	border-top: #ffffff solid 1px;
	padding-top: 3px;
	padding-bottom: 2px;
}

#vbox {
	margin-top: 10px;
	margin-left: 10px;
	
}
#vbox .pais {
	background-color: #e1e1e1;
	height: 21px;
}
#vbox .pais .caption {
	background-color: #e1e1e1;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-left: 8px;
	float: left;
	margin-top: 4px;
}
#vbox .pais .closer {
	width: 26px;
	float: right;
	background-image: url(/automatweb/images/aw06/closer_bg.gif)
}
#vbox .pais .btn {
	margin-top: 3px;
	margin-left: 3px;
}
#vbox .sisu {
	border: solid 1px #e1e1e1;
	padding: 1px;
	background-color: #ffffff;
}
#vbox .sisu2 {
	background-color: #e9e9e9;
	padding: 10px;
}
#vbox .sisu2nop {
	background-color: #e9e9e9;
	padding: 0px;
}
#vbox .sisu2 .sisu3 {
	padding: 0px;
	background-color: #e9e9e9;
}


/*tabeli box*/
	#tablebox {
		margin-top: 10px;
		margin-left: 10px;
	}
	#tablebox .pais {
		background-color: #e1e1e1;
		height: 21px;
	}
	#tablebox .pais .caption {
		background-color: #e1e1e1;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-weight: bold;
		margin-left: 8px;
		float: left;
		margin-top: 4px;
	}
	#tablebox .pais .navigaator {
		float: right;
		width: 150px;
	}
	#tablebox .sisu {
		border: solid 1px #e1e1e1;
		background-color: #ffffff;
	}



/*tabel*/

.tabel {
	background: #e1e1e1;
	padding: 0px;
}
.tabel table {
	background: #fff;
	width: 100%;
}

.awmenuedittabletext {
	font-size: 12px;
	background: #e1e1e1;
	padding: 3px 7px;
}
.awmenuedittabletext a {
	font-size: 12px;
	color: #0018af;
}
.awmenuedittablehead {
	font-size: 12px;
	background: #05a6e9;
	font-weight: bold;
	color: #fff;
	padding: 5px 7px;
	text-align: center
}
.awmenuedittablehead a {
	font-size: 12px;
	color: #ffffff;
}
.awmenuedittablerow {
	font-size: 12px;
	background: #e1e1e1;
	padding: 3px 7px;
}


/* POPUPID */

div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
	font-family: "MS Sans Serif", Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #000000;
	float: none ! important;
}

div.menuBar {
	background-color: #d0d0d0;
	border: 2px solid;
	border-color: #f0f0f0 #909090 #909090 #f0f0f0;
	padding: 4px 0px 2px 0px;
	text-align: left;
	height:17px;
}

div.menuBar a.menuButton {
	background-color: transparent;
	border: 1px solid;
	color: #000000;
	cursor: pointer;
	left: 0px;
	margin: 1px;
	margin-right: 0px;
	padding: 4px 0px 2px 3px;
	position: relative;
	text-decoration: none;
	top: 0px;
	z-index: 1000;

}

div.menuBar a.menuButton:hover {
	background-color: #e1e1e1;
	border-color: #ffffff
	color: #000000;
	cursor: pointer;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
	background-color: #a0a0a0;
	border-color: #909090 #f0f0f0 #f0f0f0 #909090;
	color: #ffffff;
	left: 0px;
	top: 1px;
}

div.menu {
  background-color: #ffffff;
  border: 1px solid #05a6e9;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 1001;
  visibility: hidden;
  padding-bottom: 1px;
}

div.menu a.menuItem {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px ! important;
  background-color: #e1e1e1;
  border-top: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  color: #000000;
  cursor: pointer;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  background-image: url(/automatweb/images/aw06/bullet_empty.gif);
  background-repeat: no-repeat;
  background-position: 4px 9px;
  padding: 3px 1em;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #e1e1e1;
  color: #000000;
  font-weight: normal;
  border-top: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  cursor: pointer;
  background-image: url(/automatweb/images/aw06/bullet_full.gif);
  background-repeat: no-repeat;
  text-decoration: underline;
}

div.menu a.menuItem span.menuItemText {}

div.menu div.menuItemSep {
  margin-top: 1px;
  border-top: 0px;
  border-bottom: 1px solid #05a6e9;
}

div.menu .menuItemTextSep {
  border:transparent 1px;
  color: #333333;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem_sub {  padding: 0}
div.menu a.menuItem_sub span.menuItemText {background: url(/automatweb/images/arr.gif) no-repeat right 6px;  display: block;  padding: 3px 4em 3px 1em;}

/* /POPUPID */


/*kalendri kuuvaate stiilid*/
#calendar_month {
	background-color: #e1e1e1;
}
#calendar_month a {
	color: #0018af;
}
#calendar_month .caption {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
#calendar_month .day {
	background-color: #e9e9e9;
	border: solid 1px #ffffff;
}
#calendar_month .day .daynr {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
}
#calendar_month .day .daynr a {
	color: #0018af;
	text-decoration: none;
}
#calendar_month .day .daynr a:hover {
	color: #0018af;
	text-decoration: underline;
}
#calendar_month .today {
	background-color: #ffffff;
	border: solid 1px #ffffff;
}
#calendar_month .today .daynr {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
}
#calendar_month .today .daynr a {
	color: #0018af;
	text-decoration: none;
}
#calendar_month .today .daynr a:hover {
	color: #0018af;
	text-decoration: underline;
}
/*kalendri kuuvaate stiilid*/
#calendar_month {
	background-color: #e1e1e1;
}
#calendar_month .caption {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
#calendar_month .day {
	background-color: #e9e9e9;
	border: solid 1px #ffffff;
	padding-bottom: 2px;
}
#calendar_month .day .daynr {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
}
#calendar_month .day .daynr a {
	color: #0018af;
	text-decoration: none;
}
#calendar_month .day .event {
	border: solid 1px #cccccc;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
}
#calendar_month .day .daynr a:hover {
	color: #0018af;
	text-decoration: underline;
}
#calendar_month .today {
	background-color: #f4f4f4;
	border: solid 1px #ffffff;
	padding-bottom: 2px;
}
#calendar_month .today .daynr {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
}
#calendar_month .today .daynr a {
	color: #0018af;
	text-decoration: none;
}
#calendar_month .today .daynr a:hover {
	color: #0018af;
	text-decoration: underline;
}
#calendar_month .today .event {
	border: solid 1px #e1e1e1;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
}

.DataSavedMessage { 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00CC00;
	font-weight: bold;
	text-align: center;
	padding: 7px;
	border: solid 3px #00CC00;
	text-transform: uppercase;
	background-color: #FFFFFF;
}
.filterSelect {
font-size: 10px;
}

.clear {
	clear: both
}
