.peaLingid {  font-weight: bold; color: #0000f0; text-decoration: none}
.peaLingidText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.6em; font-weight: bold; color: #000000; text-decoration: none }
.alamLingid {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #0000f0; text-decoration: none}
.alamLingidText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.6em; color: #666666; text-decoration: none }
.alamText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.6em; color: #000000; text-decoration: none }
.alamTextWhite { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.6em; color: #FFFFFF; text-decoration: none }
.muh { position: relative; visibility: visible; }
.mainmenu {
        position: absolute;
        left: 10px;
        top: 10px;
        visibility: visible;
}
.alammenyy {
        position: absolute;
        left: 0px;
        top: 37px;
        height: 21px;
        width: 750px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 0.6em;
		color: #666666;
        text-decoration: none;
        visibility: hidden;
}
.menyy1 {position: absolute; left: 0px; top: 18px; text-decoration: none; visibility: hidden;}
.menyy2 {position: absolute; left: 56px; top: 18px; text-decoration: none; visibility: hidden;}

