/* sisuelementide laadid */

.pais { /* tabelite päised */
	background:#e1e1e1;
	height: 1%;
}
.pais .pk {
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 9px
}
.pais .jarg {
	float: right;
	padding-right: 5px;
}
.pais .jarg a.link, .pais .jarg a.akt, .pais .jarg a.nool {
	float: left;
	font-weight: bold;
	padding: 3px 2px 1px 3px;
	display: block
}
.pais .jarg a.akt {
	background: #fff;
}
.pais .jarg a.nool {
	font-size: 14px;
	padding: 0 4px
}

/* tabel */
.tabel {
	background: #e1e1e1;
	padding: 0px 1px 1px;
}

.tabel table {
	background: #fff;
	width: 100%;
}
.tabel td {
	background: #e1e1e1;
	padding: 3px 7px;
}
.tabel td.pais {
	background: #05a6e9;
	font-weight: bold;
	color: #fff;
	padding: 5px 7px;
	text-align: center
}