BODY
    { scrollbar-face-color : #A4A4A4; 
	 scrollbar-shadow-color : #A4A4A4; 
	 scrollbar-highlight-color : #FFFFFF; 
	 scrollbar-3dlight-color : #000000; 
	 scrollbar-darkshadow-color : #000000; 
	 scrollbar-arrow-color : #FFFFFF;
	}

.yah {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	height: 16px;
	color: #FFFFFF;
	background: #8AABBE;
}

.yah a {color: #FFFFFF; text-decoration: none;}
.yah a:hover {color: #000000; text-decoration: none;}
.yah a:visited {color: #FFFFFF; text-decoration: none;}
.yah a:active {color: #000000; text-decoration: none;}

.msgboardtab {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 13px;
font-weight: bold;
text-decoration: none;
}
.msgboardtab a {color: #FFFFFF;}
.msgboardtab a:hover {color: #CFFF60; text-decoration: none;}

.text {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 13px;
text-decoration: none;
}
.text a {color: #002F8E;}
.text a:hover {color: #002F8E; text-decoration: underline;}

.text2 {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 13px;
text-decoration: none;
background: #ebebeb;
}

.mboardtab {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #FFFFFF;
font-size: 9px;
font-weight: bold;
text-decoration: none;
background: #113789;
}
.mboardtab a {color: #FFFFFF; text-decoration: none;}
.mboardtab a:hover {color: #EFF4F5; text-decoration: underline;}


.mboardtexttopic {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 0.7em;
text-decoration: none;
}
.mboardtexttopic a {color: #113789; text-decoration: none;}
.mboardtexttopic a:hover {color: #113789; text-decoration: underline;}


.mboardtextsmall {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #676767;
font-size: 9px;
text-decoration: none;
}
.mboardtextsmall a {color: #113789; text-decoration: none;}
.mboardtextsmall a:hover {color: #113789; text-decoration: underline;}

.mboard {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 9px;
text-decoration: none;
}
.mboard a {color: #113789; text-decoration: none;}
.mboard a:hover {color: #113789; text-decoration: underline;}


.sitehead {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	height: 17px;
	color: #FFFFFF;
	background: #8AABBE;
}


.tableborder {
background: #8AABBE;
}

.tableshadow {
background: #FFFFFF;
}

.tableinside {
background: #DBE8EE;
}

.cell {
background: #DBE8EE;
}

.tab {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	background: #DBE8EE;
	background-image: URL('{VAR:baseurl}/automatweb/images/blue/tab_taust.gif');
}

.tab a {color: #000000; text-decoration: none;}
.tab a:hover {color: #0000FF; text-decoration: none;}

.tabsel {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	background: #8AABBE;
	background-image: URL('{VAR:baseurl}/automatweb/images/blue/tabsel_taust.gif');
}

.tabsel a {color: #000000; text-decoration: none;}
.tabsel a:hover {color: #0000FF; text-decoration: none;}

.tabselback {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	background: #8AABBE;
	background-image: URL('{VAR:baseurl}/automatweb/images/blue/tabsel_taust.gif');
}



.aste01 {background: #DBE8EE;}
.aste02 {background: #95B4C5;}
.aste03 {
	background: #A2BCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.aste04 {
	background: #B0C8D4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.aste05 {
	background: #BDD2DC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.aste06 {background: #CADBE4;}
.aste07 {
	background: #DBE8EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}



.link {

	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	background: #8AABBE;

	}

.celltitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	height: 17px;
}

.celltitlenormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	height: 17px;
}

.celltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

.celltextbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.cellcomment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6D7477;
	text-decoration: none;
}


.icontext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.formselect {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #001A8B;
font-weight: bold;
text-decoration: none;
background-color: #DBE8EE;
height: 22px
border-style: solid;
border-width: 1px;
border-color: #000000;
}



.formbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 10px;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
background: #D9D9D9;
border-color: #D9D9D9;
border-width: 1px;
}


.formfile {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 9px;
text-decoration: none;
background: #D9D9D9;
border-color: #D9D9D9;
border-width: 1px;
}

.formtext {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 11px;
text-decoration: none;
background: #FFFFFF;
border-color: #D9D9D9;
border-width: 1px;
}





.tablegen_link {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
}
.fcaption2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #FFFFFF;
}
.fcaption2_nt {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
}
.fcaption5 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.6em;
        color: black;
        text-decoration: none;
		background: #FFFFFF;
}
.fcaption5_hele_taust {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.6em;
        color: black;
        text-decoration: none;
		background: #fafafa;
}
.fcaption5_hele {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.6em;
        color: black;
        text-decoration: none;
		background: #f5f5f5;
}

.fcaption3 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #FFFFFF;
}
.fcaption4 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #CCCCCC;
}

.fselected2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #CCCCCC;
}

.fselected3 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        text-decoration: none;
        background: #DDDDDD;
}

.fform2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color: black;
        background: #EEEEEE;
}
.ftitle2 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 9pt;
        color: black;
        text-decoration: none;
        background: #E5E8F7;
}
.ftitle3 {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 9pt;
        color: black;
        text-decoration: none;
        background: #C5C8F7;
}


.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	background: #eeeeee;
}

.title_hele {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
	background: #f2f2f2;
}

.titlesel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
	background: #cccccc;
}

.plain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #FFFFFF;
}
.selected {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.6em;
	background: #FFCCCC;
};
.fcaptionclean {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 10pt;
        color: black;
        text-decoration: none;
}

.fform { 
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color:black;
        background: #FFFFFF;
}
.hele_hall_taust { 
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 8pt;
        color:black;
        background: #f5f5f5;
}
.ftitle {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
        font-size: 10pt;
        color:black;
        text-decoration: none;
        background: #66CC66;
}
a {
        text-decoration: none;
        color: #041CB2;
}
a:hover {
        color: #041CB2;
        text-decoration: underline;
}
.header1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background: #EEEEEE;
	text-decoration: none;
}
.header2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background: #EEEEEE;
	text-decoration: none;
}

.header3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #CCCCCC;
	text-decoration: none;
}

.cut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #a0a0a0;
}

.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background: #ffffff;
}

.small_sub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background: #e00000;
}

.fgen_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.fgtitle {
BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}
.fgtitle_new {
BACKGROUND: #1c629d; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}

.fgtitlenew {
BACKGROUND: #1c629d; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}

.fgtitle_text {
BACKGROUND: #1c629d; COLOR: #e0e7f0; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}

.fgtitle_button { 
color: #e0e7f0;
background-color: #1c629d; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
font-weight: bold;
}

.fgtitlebutton { 
color: #e0e7f0;
background-color: #1c629d; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
font-weight: bold;
}

.fgtitle_link {
 COLOR: #e0e7f0; 
}
.fgtitle_link:hover {
 COLOR: #FFFFFF; 
}

.fgtext {

BACKGROUND: #FFFFFF; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.fgtextsel {

BACKGROUND: #EEEEEE; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.cut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #a0a0a0;
}

.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background: #ffffff;
}

.small_sub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background: #e00000;
}

.fgen_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.fgtitle {
BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}
.fgtitle_new {
BACKGROUND: #1c629d; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}

.fgtitlenew {
BACKGROUND: #1c629d; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}

.fgtitle_text {
BACKGROUND: #1c629d; COLOR: #e0e7f0; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}

.fgtitle_button { 
color: #e0e7f0;
background-color: #1c629d; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
font-weight: bold;
}

.fgtitlebutton { 
color: #e0e7f0;
background-color: #1c629d; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
font-weight: bold;
}

.fgtitle_link {
 COLOR: #e0e7f0; 
}
.fgtitle_link:hover {
 COLOR: #FFFFFF; 
}



.fgtext {

BACKGROUND: #FFFFFF; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.fgtextsel {

BACKGROUND: #EEEEEE; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.fgtext_bad {

BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.fgtext_g {

BACKGROUND: #f5f5f5; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.fgtext_bold {

BACKGROUND: #FFFFFF; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.fgtext2 {

BACKGROUND: #eeeeee; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}


.chkbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	background: #EEEEEE;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.small_button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.pealkiri1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        background: #CCCCCC;
}

.tekstikast
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF; 
	border: #CCCCCC solid; 
	border-width: 1px 1px 1px 1px; 
	margin-left: 0px;
	padding-left: 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}
.doc_button
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #CCCCCC; 
	border: #CCCCCC solid; 
	border-width: 1px 1px 1px 1px; 
}
.tekstikast_n
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F5F5F5; 
	border: #CCCCCC solid; 
	border-width: 0px 0px 0px 0px; 
}

.messengermenu {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 0.7em;
text-decoration: none;
}
.messengermenu a {color: #FFFFFF;}
.messengermenu a:hover {color: #FFCC00;}


.messengermenusub {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 0.6em;
font-weight: bold;
text-decoration: none;
}

.messengermenulevel3 {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 0.6em;
text-decoration: none;
}

.messengermenulevel3act {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 0.6em;
font-weight: bold;
text-decoration: none;
}

.messengermenulevel3act a {color: #000000;}
.messengermenulevel3act a:hover {color: #000033;}

.messengermenusub2title {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
color: #000033;
font-size: 0.6em;
font-weight: bold;
text-decoration: none;
}

.messengermenusub2 {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 0.8em;
text-decoration: none;
}

.messengermenusub2selected {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 1.8em;
text-decoration: none;
font-weight: bold;
}

.messengermenusub a {color: #929FB3;}
.messengermenusub a:hover {color: #39537C;}


.titlesel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
	background: #cccccc;
}

.fgtextsel {

BACKGROUND: #EEEEEE; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.menuedittitle {
BACKGROUND: #1c629d; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}

.menueditvali {
BACKGROUND: #ccccccc; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}


.menuedittitle_button { 
color: #e0e7f0;
background-color: #1c629d;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
}


.menueditbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 10px;
font-weight: bold;
text-decoration: none;
background-color: #FFFFFF;
}
.menueditbutton a {color: #000000; text-decoration: none;}
.menueditbutton a:hover {color: #002884; text-decoration: none;}


.menueditbuttontrans {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 10px;
font-weight: bold;
text-decoration: none;
}
.menueditbuttontrans a {color: #FFFFFF; text-decoration: none;}
.menueditbuttontrans a:hover {color: #002884; text-decoration: none;}


.menueditsaoledsiin {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
font-size: 10px;
font-weight: bold;
text-decoration: none;
background-color: #cccccc;
}
.menueditsaoledsiin a {color: #000000; text-decoration: none;}
.menueditsaoledsiin a:hover {color: #002884; text-decoration: underline;}
