body {
	background: #0386c7 url('/automatweb/images/aw06/layout_t.gif') repeat-x 0px 85px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

a {text-decoration: none}
a:hover {text-decoration: underline}

/* päis */
#pais {
	background: #e2e2e2 url('/automatweb/images/aw06/pais_t.gif') repeat-x;
	/*min-width: 550px;*/
	height: 84px;
	border-bottom: 1px solid #f1f8fc
}
#pais_noheader {
	background: #e2e2e2;
	/*min-width: 550px;*/
	height: 14px;
	border-bottom: 1px solid #f1f8fc
}
#pais .logo { 
	background: url('/automatweb/images/aw06/logo_t.gif') no-repeat;
	width: 239px;
	height: 57px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}
#pais .logo img { 
	margin:17px 0 0 15px
}
#pais .logo span {
	color: #d50000;
	width: 239px;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-weight: bold;
	top: 46px;
	position: absolute;
}
#pais .top-left-menyy {
	background: url('/automatweb/images/aw06/y_menyy_left_t.gif') no-repeat;
	padding: 5px 0 5px 8px;
	color: #545454;
	font-size: 11px;
	white-space: nowrap;
	left: 239px;
	height: 1%;
	position: absolute
}
#pais .top-left-menyy a {
	color: #545454;
}
#pais .top-right-menyy {
	float: right;
	background: url('/automatweb/images/aw06/y_menyy_right_t.gif') no-repeat;
	font-size: 11px;
	top: 0px;
	/*position: relative*/
}
#pais .top-right-menyy a {
	float: left;
	color: #000;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 5px 8px 5px 10px;
	margin-right: -1px;
	display: block
}
#pais .top-right-menyy a.akt {
	border-top: 1px solid #05a6e9;
	border-left: 1px solid #05a6e9;
	border-right: 1px solid #05a6e9;
	border-bottom: 1px solid #05a6e9;
	margin: 0 0 0 1px;
	padding: 4px 7px 4px 10px;
}
#pais .top-right-menyy a:hover {
	color: #333;
	text-decoration: none;
}
#pais .top-right-menyy a.logout {
	background: url('/automatweb/images/aw06/ikoon_logout.gif') no-repeat 8px 5px;
	padding: 5px 20px 5px 43px;
	margin: 0;
}
#pais .top-right-menyy .nool {
	top: -1px;
	position: relative
}

#pais .olekuriba {
	background: url('/automatweb/images/aw06/olek_t.gif') no-repeat;
	color: #545454;
	/*min-width: 400px;*/
	font-size: 11px;
	padding: 12px 0 0 8px;
	top: 24px;
	left: 239px;
	position: absolute;
	z-index: 0;
	white-space: nowrap
}
#pais .olekuriba a {
	color: #545454
}
#pais .tabs {
	float: left;
	padding-left: 30px;
	top: 66px;
	position: absolute;
}
#pais .tabs .norm, #pais .tabs .akt {
	float: left;
	background: url('/automatweb/images/aw06/pais_tab_norm_left.gif') no-repeat;
	padding-left: 4px;
	height: 18px;
}
#pais .tabs .norm .right, #pais .tabs .akt .right  {
	float: left;
	background: url('/automatweb/images/aw06/pais_tab_norm_right.gif') no-repeat right top;
	padding-right: 3px;
	height: 18px;
}
#pais .tabs .norm .right a, #pais .tabs .akt .right a{
	float: left;
	background: url('/automatweb/images/aw06/pais_tab_norm_center.gif') repeat-x;
	font-size: 12px;
	color: #000;
	padding: 2px 5px 4px;
	display: block
}
#pais .tabs .akt {
	background: url('/automatweb/images/aw06/pais_tab_akt_left.gif') no-repeat;
	height: 19px;
	margin-bottom: -1px;
	position: relative
}
#pais .tabs .akt .right {
	background: url('/automatweb/images/aw06/pais_tab_akt_right.gif') no-repeat right top;
	height: 19px;
}
#pais .tabs .akt .right a, #pais .tabs .akt .right a:hover {
	background: url('/automatweb/images/aw06/pais_tab_akt_center.gif') repeat-x;
	font-weight: bold;
	color: #fff;
	padding: 4px 5px 2px;
	text-decoration: none
}
#pais .toiming {
	float: right;
	height: 60px;
	/*position: relative;*/
	z-index: 10;
}
#pais .toiming a.nupp {
	float: left;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 3px 25px;
	margin-right:5px;
	margin-top: 33px;
	border: 1px solid #fff
}
#pais .toiming a.menuButton {
	float: left;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 3px 25px;
	margin-right:5px;
	margin-top: 33px;
	border: 1px solid #fff
}

#pais .toiming .menuBar a.menuButton {
	float: left;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 3px 25px;
	margin-right:5px;
	margin-top: 33px;
	border: 1px solid #fff;
}

#pais .toiming a.akt, #pais .toiming a:hover {
	border: 1px solid #05a6e9;
	text-decoration: none
}
#pais .popup_item a.akt, #pais .popup_item a:hover { /*kalmer 22.09.2006*/
	border-bottom: 0px solid #ffffff;
	text-decoration: underline;
}
#pais .toiming a.nupp img.ikoon {
	margin-left: -18px;
	position: absolute
}
#pais .toiming a.menuButton img.ikoon {
	margin-left: -18px;
	position: absolute
}


#pais2 {
	background: #e2e2e2;
	/*min-width: 550px;*/
	height: 32px;
	border-bottom: 1px solid #f1f8fc
}
#pais2_noheader {
	background: #e2e2e2;
	/*min-width: 550px;*/
	height: 14px;
	border-bottom: 1px solid #f1f8fc
}
#pais2 .logo { 
	background: url('/automatweb/images/aw06/logo_t.gif') no-repeat;
	width: 239px;
	height: 57px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}
#pais2 .logo img { 
	margin:17px 0 0 15px
}
#pais2 .logo span {
	color: #d50000;
	width: 239px;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-weight: bold;
	top: 46px;
	position: absolute;
}
#pais2 .top-left-menyy {
	background: url('/automatweb/images/aw06/y_menyy_left_t.gif') no-repeat;
	padding: 5px 0 5px 8px;
	color: #545454;
	font-size: 11px;
	white-space: nowrap;
	left: 239px;
	height: 1%;
	position: absolute
}
#pais2 .top-left-menyy a {
	color: #545454;
}
#pais2 .top-right-menyy {
	float: right;
	background: url('/automatweb/images/aw06/y_menyy_right_t.gif') no-repeat;
	font-size: 11px;
	top: 0px;
	/*position: relative*/
}
#pais2 .top-right-menyy a {
	float: left;
	color: #000;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 5px 8px 5px 10px;
	margin-right: -1px;
	display: block
}
#pais2 .top-right-menyy a.akt {
	border-top: 1px solid #05a6e9;
	border-left: 1px solid #05a6e9;
	border-right: 1px solid #05a6e9;
	border-bottom: 1px solid #05a6e9;
	margin: 0 0 0 1px;
	padding: 4px 7px 4px 10px;
}
#pais2 .top-right-menyy a:hover {
	color: #333;
	text-decoration: none;
}
#pais2 .top-right-menyy a.logout {
	background: url('/automatweb/images/aw06/ikoon_logout.gif') no-repeat 8px 5px;
	padding: 5px 20px 5px 43px;
	margin: 0;
}
#pais2 .top-right-menyy .nool {
	top: -1px;
	position: relative
}

#pais2 .olekuriba {
	background: url('/automatweb/images/aw06/olek_t.gif') no-repeat;
	color: #545454;
	/*min-width: 400px;*/
	font-size: 11px;
	padding: 12px 0 0 8px;
	top: 24px;
	left: 239px;
	position: absolute;
	z-index: 0;
	white-space: nowrap
}
#pais2 .olekuriba a {
	color: #545454
}
#pais2 .tabs {
	float: left;
	padding-left: 30px;
	top: 14px;
	position: absolute;
}
#pais2 .tabs .norm, #pais2 .tabs .akt {
	float: left;
	background: url('/automatweb/images/aw06/pais_tab_norm_left.gif') no-repeat;
	padding-left: 4px;
	height: 18px;
}
#pais2 .tabs .norm .right, #pais2 .tabs .akt .right  {
	float: left;
	background: url('/automatweb/images/aw06/pais_tab_norm_right.gif') no-repeat right top;
	padding-right: 3px;
	height: 18px;
}
#pais2 .tabs .norm .right a, #pais2 .tabs .akt .right a{
	float: left;
	background: url('/automatweb/images/aw06/pais_tab_norm_center.gif') repeat-x;
	font-size: 12px;
	color: #000;
	padding: 2px 5px 4px;
	display: block
}
#pais2 .tabs .akt {
	background: url('/automatweb/images/aw06/pais_tab_akt_left.gif') no-repeat;
	height: 19px;
	margin-bottom: -1px;
	position: relative
}
#pais2 .tabs .akt .right {
	background: url('/automatweb/images/aw06/pais_tab_akt_right.gif') no-repeat right top;
	height: 19px;
}
#pais2 .tabs .akt .right a, #pais2 .tabs .akt .right a:hover {
	background: url('/automatweb/images/aw06/pais_tab_akt_center.gif') repeat-x;
	font-weight: bold;
	color: #fff;
	padding: 4px 5px 2px;
	text-decoration: none
}
#pais2 .toiming {
	float: right;
	height: 60px;
	/*position: relative;*/
	z-index: 10;
}
#pais2 .toiming a.nupp {
	float: left;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 3px 25px;
	margin-right:5px;
	margin-top: 33px;
	border: 1px solid #fff
}
#pais2 .toiming a.menuButton {
	float: left;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 3px 25px;
	margin-right:5px;
	margin-top: 33px;
	border: 1px solid #fff
}

#pais2 .toiming .menuBar a.menuButton {
	float: left;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 3px 25px;
	margin-right:5px;
	margin-top: 33px;
	border: 1px solid #fff;
}

#pais2 .toiming a.akt, #pais2 .toiming a:hover {
	border: 1px solid #05a6e9;
	text-decoration: none
}
#pais2 .popup_item a.akt, #pais2 .popup_item a:hover { /*kalmer 22.09.2006*/
	border-bottom: 0px solid #ffffff;
	text-decoration: underline;
}
#pais2 .toiming a.nupp img.ikoon {
	margin-left: -18px;
	position: absolute
}
#pais2 .toiming a.menuButton img.ikoon {
	margin-left: -18px;
	position: absolute
}


/* teise astme menüü */
#k_menyy {
	clear: both;
	/*min-width: 500px;*/
	height: 25px;
	padding: 0 10px 0 38px;
}
#k_menyy .tabs {
	float: left;
	padding-top: 7px;
	margin-bottom: -1px;
	position: relative;
	z-index: 1;
}
#k_menyy .tabs .norm, #k_menyy .tabs .akt {
	float: left;
	background: url('/automatweb/images/aw06/k_menyy_tab_norm_left.gif') no-repeat;
	padding-left: 3px;
	height: 18px;
}
#k_menyy .tabs .norm .right, #k_menyy .tabs .akt .right  {
	float: left;
	background: url('/automatweb/images/aw06/k_menyy_tab_norm_right.gif') no-repeat right top;
	padding-right: 3px;
	height: 18px;
}
#k_menyy .tabs .norm .right a, #k_menyy .tabs .akt .right a{
	float: left;
	background: url('/automatweb/images/aw06/k_menyy_tab_norm_center.gif') repeat-x;
	font-size: 11px;
	color: #fff;
	padding: 3px 4px 3px 6px;
	display: block
}
#k_menyy .tabs .akt {
	background: url('/automatweb/images/aw06/k_menyy_tab_akt_left.gif') no-repeat;
}
#k_menyy .tabs .akt .right {
	background: url('/automatweb/images/aw06/k_menyy_tab_akt_right.gif') no-repeat right top;
}
#k_menyy .tabs .akt .right a, #k_menyy .tabs .akt .right a:hover {
	background: url('/automatweb/images/aw06/k_menyy_tab_akt_center.gif') repeat-x;
	color: #000;
	text-decoration: none
}
#k_menyy .p {
	float: right;
}
#k_menyy .p img {
	margin: 2px 5px -5px 0px;
	position: relative
}
#k_menyy .p a {
	color: #82d2f3;
	font-size: 11px;
}
#k_menyy .p a:hover {
	color: #ffffff;
	font-size: 11px;
}
/* sisu kast */
#sisu {
	background: #fff;
	margin-left: 5px;
	border-top: 1px solid #0373ac;
	border-bottom: 1px solid #0373ac;
	font-size: 11px;
	margin-top: -1px;
	/*position: relative;*/
	z-index: 0;
	padding-right: 10px;
	padding-bottom: 20px;
}
#toimingud {
	background: #e1e1e1;
	border-top: 1px solid #fff;
	border-right: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	border-left: 1px solid #fff;
	height: 26px;
	padding: 3px 9px;
	margin-bottom: 10px;
	margin-right: -10px;
}
#toimingud .v {
	float: left;
/*	padding: 3px 0 0 2px; */
	vertical-align: middle;
	width: 95%;
}

#toimingud .tb_but {
	border: solid 1px #e1e1e1;
	float: left;
	padding: 4px;
	margin-right: 2px;
}
#toimingud .cdata {
	float: left;
	margin-top: 2px;
}
#toimingud .tb_but_ov {
	border: solid 1px #05a6e9;
	float: left;
	padding: 4px;
	margin-right: 2px;
}
/*
#sisu .toimingud .v img {
	margin-right: 10px
}
#sisu .toimingud .v .vahe {
	margin: -6px 3px -5px 0 !important;
	margin: -3px 0px -6px;
	position: relative
}
*/
#toimingud .p {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
}
#toimingud .p .nupp {
	background: #05a6e9;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #0373ac;
	border-bottom: 1px solid #0373ac;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	padding: 1px 2px !important;
	padding: 0;
	cursor:pointer
}
#veerud {
	width: 100%;
	padding-bottom: 10px;
}
#veerud .v {
	width: 238px;
	overflow: hidden
}
#veerud .v .box { /* vasaku veeru kastid */
	background: #e1e1e1;
	padding:0px 1px 1px;
	margin-bottom: 10px
}
#veerud .box .pais {
	font-size: 12px;
	font-weight: bold;
	padding: 3px 0 0px 7px;
	height: 1%
}
#veerud .box .pais span {
	float: left;
	display: block
}
#veerud .box .pais img {
	float: right;
	margin-top: -3px
}
#veerud .box .s {
	background: #e9e9e9;
	border: 1px solid #fff;
	padding: 12px;
}
#veerud .p {
}
#veerud .p a {
	color: #0018af 
}
input.vali, select.vali {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 2px 3px
}
select.vali {
	padding: 1px
}
#sisu a.nupp, #sisu a.nupp:hover {
	background:#05a6e9;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #0373ac;
	border-bottom: 1px solid #0373ac;
	color: #fff;
	font-weight: bold;
	padding: 3px 8px;
	text-decoration: none
}
#sisu a.nupp:active {
	background: #0494d0
}
span.kast {
	padding-bottom: 8px;
	display: block
}
/* jalus */ 
#jalus {
	background: #05a6e9 url('/automatweb/images/aw06/jalus_t.gif') repeat-x left bottom;
	padding: 7px 0 9px 12px;
	color: #82d2f3;
	font-size: 10px
}
#jalus a { color: #fff }
.clear {
	clear: both
}
.awActbOptionList {
	border: solid 1px #05a6e9;
	background-color: #e1e1e1;
	font-size: 11px;
	padding: 4px;
	line-height: 15px;
}
.awActbActiveOption {
	color: #05a6e9;
	text-decoration: underline
}

/* opera fixid @ 01. august 2007 by hannes */
#pais .top-right-menyy div {
	float: left;
}

#pais .toiming div {float: left; }


/* KALENDER */



.aw04kalender01 {
margin: 0px;
padding-top: 6px;
padding-left: 6px;
padding-right: 6px;
padding-bottom: 0px;
background-color: #E1E1E1;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalender02 {
padding-bottom: 5px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color:#000000;
vertical-align: middle;
}

.aw04kalender02 .style4{padding: 4px 0 0 0;}

.aw04kalender02 a {
color: #0017AF;
text-decoration:none;
}

.aw04kalender02 a:hover {
color: #0017AF;
text-decoration:underline;
}

.aw04kalenderkast01 {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
margin: 0px;
padding: 4px;
background-color: #EFEFEF;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalenderkast01today {
margin: 0px;
padding: 4px;
background-color: #E1E1E1;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalenderkast02 {
margin: 0px;
padding: 2px;
background-color: #FFFFFF;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalenderkast02today {
margin: 0px;
padding: 2px;
background-color: #EFEFEF;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalenderkast03 {
margin: 0px;
padding: 5px;
background-color: #FFFFFF;
border-top: 0px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalenderkast03today {
margin: 0px;
padding: 5px;
background-color: #EFEFEF;
border-top: 0px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}

.aw04kalenderkast04 {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
margin: 0px;
padding: 4px;
background-color: #D0D0D0;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #BDBDBD;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #BDBDBD;
}


.aw04kalendersubevent {
padding: 2px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
/*background-color: #FFFFFF;*/
border-bottom: 1px solid #DFDFDF;
}

.aw04kalendersubevent td {
height: 22px;
}

.aw04kalendersubeventnobg {
margin: 2px;
padding: 2px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
}


.aw04kalendersubevent a {
color: #000000;
text-decoration:none;
}

.aw04kalendersubevent a:hover {
color: #0017AF;
text-decoration:underline;
}

.aw04kalendermini {
background-color:#BDBDBD;
}

.aw04kalendertext {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color:#000000;
text-align: center;
}

.aw04kalendertextevent {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color:#000000;
}

.aw04kalendertextday {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color:#000000;
}

.aw04kalendertask {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
background: #FFFFFF;
padding: 4px;
}

.aw04kalendertask a {
color: #000000;
text-decoration:none;
}

.aw04kalendertask a:hover {
color: #0017AF;
text-decoration:underline;
}

/* END KALENDER */

/* fondi suurused tabis */
#pais .tabs a {font-size: 11px ! important;  line-height: 18px;}
#pais .tabs .akt a {line-height: 15px;}
#k_menyy .tabs a {font-size: 10px ! important; }
/*
 * #pais .tabs .norm , #pais .tabs .akt {padding-left: 0px ! important;}
 * #pais .tabs .norm .right, #pais .tabs .akt .right {padding-right: 0px ! important;}
 * 
*/

.awmenuedittabletag {background: white;}
