<?xml version='1.0'?>
<orb>
	<class name="acl">
		<action name="edit">
			<function name="gen_edit_form">
				<arguments>
					<required name="oid"/>
				</arguments>
			</function>
		</action>

		<action name="submit_acl">
			<function name="submit_acl">
				<arguments>
					<required name="oid"/>
				</arguments>
			</function>
		</action>

		<action name="save_acl">
			<function name="ui_save_acl">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_acl_groups">
			<function name="submit_acl_groups">
				<arguments>
				</arguments>
			</function>
		</action>
	</class>
</orb>
		
