<?xml version='1.0'?>
<orb>
	<class name="config">

		<action name="join_mail">
			<function name="join_mail">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_join_mail">
			<function name="submit_join_mail">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="login_menus">
			<function name="login_menus">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_login_menus">
			<function name="submit_login_menus">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="errors">
			<function name="errors">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_errors">
			<function name="submit_errors">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="grp_redirect">
			<function name="grp_redirect">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_grp_redirect">
			<function name="submit_grp_redirect">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="sites">
			<function name="sites">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_add_site">
			<function name="submit_add_site">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="docfolders">
			<function name="docfolders">
				<arguments>
				</arguments>
			</function>
		</action>

		<action name="submit_docfolders">
			<function name="submit_docfolders">
				<arguments>
				</arguments>
			</function>
		</action>

	</class>
</orb>
		
